

div {
    width: 100px ;
    height: 100px;

    background-color: black;

    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 20px;
  }



.bg-rojo {
    background-color: red;
    font-size: 100px;

    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 20px;
  }

  body{

background-color: rgb(0, 89, 255) ;
font-size: 100px;

  }