body {
  background-color: #ffffff;
}


#main-news span{
position: absolute;


}

.icon{


  height: 55px;

  width: 55px;
}
.bg-dark {
  background-color: #ffffff ;
}


.navbar-dark .navbar-brand#azulado {

  font-family: 'Oleo Script', cursive;
margin-left: 10px;
font-size: 40px;
  color:#204C73;
}
.navbar-dark .navbar-brand#azulado:hover {

  font-family: 'Oleo Script', cursive;

font-size: 40px;
  color:#919191;
}
/*margin-top: -50px;*/
.gato{

  max-height: 100px;
 border-radius: 100px;

border: solid 2px red;

}

.icon-link {
  margin-left: 10px;
  max-height: 60px;
  border-radius: 100px;
}

.icon-link:hover {
  margin-left: 10px;
  max-height: 70px;
  border-radius: 100px;
}

.Subtitles{
  font-family: 'Roboto', sans-serif;
color: #204C73;
margin-top: 50px;
margin-bottom: 25px;
border-bottom: solid 1px #275d8c3b;

}

.noticia .img{

  
object-fit: cover;
  object-position: 50% 0;
border-radius: 5px;
 
  width: 200px;
  height: 110px;

}
.container .noticia{
  display: inline-flex;
  padding-bottom: 20px;
  padding-top: 20px;
  /*border-bottom:  solid 1px red;*/
 
  border-bottom: solid 1px #275d8c3b;
}
.noticia>.texto>.title{

font-family: Arial, Helvetica, sans-serif;

}
.noticia>.texto{

  margin-left: 30px;
}
.noticia>.texto>.fecha{

  color:#F29849 ;
}
.btn.btn-primary.uni {
  color: #fff;
  background-color: #204C73;
  border-color: #204C73;
}

.btn.btn-primary.uni:hover {
  color: #fff;
  background-color: #183955;
  border-color: #183955;
}