div {
  width: 100px;
  height: 100px;
  color: mediumblue;
  background-color: red;

  padding: 10px;
  border: 5px dashed green;
  margin: 10px;
  border-radius: 50px;
  position: relative;

  /* animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 3;
  animation-iteration-count: infinite; */
}
.laclase {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  background-color: rgb(101, 0, 141);
  color: rgb(0, 255, 200);
}

/*
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;animation-timing-function: ease-in;}
    25%  {background-color:yellow; left:200px; top:0px;animation-timing-function: ease-out;}
    50%  {background-color:blue; left:200px; top:200px;animation-timing-function: ease-in;}
    75%  {background-color:green; left:0px; top:200px;animation-timing-function: ease-out;}
    100% {background-color:red; left:0px; top:0px;}
*/
