/*.pos-f-t {
    position: fixed;
    top: 10;
    right: 0;
    left: 0;
    width: 100px;
  }
*/
div.scontainer{
    position:fixed;
    max-width: 180px ;/*13%*/
    margin-left: 10px;
    margin-top: 10px;
    /*
    width: 150px;
    */
    padding: 0px;
}
div.acontainer{
    position: relative;
    max-width: 75%; 
    margin: 0 auto; 
    padding: 10px; 
    margin-left: 200px;
}
svg.estado{
    position: absolute;
    right: 10px;
}
div.card-header{
    position: relative;
    height: 65px;
}
button.btn-danger{
    position: absolute;
    right: 10px;
}
button.btn-success{
    position: absolute;
    right: 100px;
}
.icon{


    height: 55px;
  
    width: 55px;
  }
  .bg-dark {
    background-color: #ffffff  ;
  }
div.bg-dark.p-4#unico{

    background-color: #ffffff ;
  }
  
  .navbar-dark .navbar-brand#azulado {
  
    font-family: 'Oleo Script', cursive;
  margin-left: 10px;
  font-size: 40px;
    color:#204C73;
  }
  .navbar-dark .navbar-brand#azulado:hover {
  
    font-family: 'Oleo Script', cursive;
  
  font-size: 40px;
    color:#919191;
  }
  

  
  .Subtitles{
    font-family: 'Roboto', sans-serif;
  color: #204C73;
  margin-top: 50px;
  margin-bottom: 25px;
  border-bottom: solid 1px #275d8c3b;
  
  }
  body{

    background-color: rgba(0, 0, 0, 0.13);
  }
.text-blue{


    color: #204C73;
}
.nav-link{

color:#204C73;

}

.btn.btn-primary.uni {
    color: #fff;
    background-color: #204C73;
    border-color: #204C73;
  }
  
.btn.btn-primary.uni:hover {
    color: #fff;
    background-color: #183955;
    border-color: #183955;
  }
  body{
    background-color: blanchedalmond;
}
#base{
    background-color: azure;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  max-width: 100%;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.CommentsB{
    
    margin-left: 50%;
    
    
    
}